body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .banner {
    background: url('./banner.jpg');
} */

.banner img {
    height: auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    color: black;
    background-color: yellow;
    list-style-type: none;
}


/* skeleton */

#buttonDiv {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.button {
    flex-grow: 1;
    width: auto;
    background-color: black;
    color: white;
}